@font-face {
   font-family: 'Jasmine_and_Greentea';
   src: url(../fonts/Jasmine_and_Greentea.otf);
}

@font-face {
   font-family: 'Infinite-Beyond';
   src: url(../fonts/Infinite-Beyond.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// font-family: 'Bebas Neue', cursive;



@font-face {
   font-family: 'KozGoPro';
   src: url(../fonts/KozGoPro-ExtraLight.otf);
}

@font-face {
   font-family: 'TahomaBold';
   src: url(../fonts/Tahoma-bold.ttf);
}

@font-face {
   font-family: 'ArialNarrow';
   src: url(../fonts/ARIALN.TTF);
}