.backoffice-header {
    background: #fff;

    .brand-logo {
        max-height: 70px;

        @media screen and (max-width: 575px) {
            max-width: 100px;
        }
    }

    .heading {
        font-family: 'KozGoPro';
        font-size: 50px;
        color: $color-text-ash;
        font-weight: 300;

        @media screen and (max-width: 1399px) {
            font-size: 35px;
        }

        @media screen and (max-width: 575px) {
            font-size: 20px;
        }
    }

    .profile-image {
        width: 100%;
        max-width: 85px;

        @media screen and (max-width: 1399px) {
            max-width: 70px;
        }

        @media screen and (max-width: 575px) {
            max-width: 45px;
        }
    }
}