/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "GOTHIC";
  src: url(../fonts/GOTHIC.TTF);
}
@font-face {
  font-family: "GOTHICB";
  src: url(../fonts/GOTHICB.TTF);
}
@font-face {
  font-family: "Infinite-Beyond";
  src: url(../fonts/Infinite-Beyond.otf);
}
@font-face {
  font-family: "KozGoPro";
  src: url(../fonts/KozGoPro-ExtraLight.otf);
}
@font-face {
  font-family: "TahomaBold";
  src: url(../fonts/Tahoma-bold.ttf);
}
@font-face {
  font-family: "ArialNarrow";
  src: url(../fonts/ARIALN.TTF);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-body {
  margin-top: 110px;
  width: calc(100% - 300px);
  margin-left: auto;
}
@media screen and (max-width: 1399px) {
  .main-body {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .main-body {
    width: 100%;
    margin-top: 80px;
  }
}
@media screen and (max-width: 575px) {
  .main-body {
    margin-top: 68px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.home-header .brand-logo {
  max-width: 380px;
}
@media screen and (max-width: 991px) {
  .home-header .brand-logo {
    max-width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .home-header .brand-logo {
    max-width: 200px;
  }
}

.backoffice-header {
  background: #fff;
}
.backoffice-header .brand-logo {
  max-height: 70px;
}
@media screen and (max-width: 575px) {
  .backoffice-header .brand-logo {
    max-width: 100px;
  }
}
.backoffice-header .heading {
  font-family: "KozGoPro";
  font-size: 50px;
  color: #585555;
  font-weight: 300;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .heading {
    font-size: 20px;
  }
}
.backoffice-header .profile-image {
  width: 100%;
  max-width: 85px;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .profile-image {
    max-width: 70px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .profile-image {
    max-width: 45px;
  }
}

.sideNav {
  background: #9e0404;
  width: 280px;
  height: 100vh;
  padding-top: 100px;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.1s linear;
}
@media screen and (max-width: 1199px) {
  .sideNav {
    position: fixed;
    overflow: hidden;
    width: 0;
  }
}
.sideNav .body-content ul {
  padding-top: 25px;
}
.sideNav .body-content ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 20px;
}
@media (max-width: 1399px) {
  .sideNav .body-content ul li {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.sideNav .body-content ul li a {
  display: block;
  padding: 5px;
  color: #ffffff;
}
.sideNav .body-content ul li a:hover {
  background: #fff;
  color: #000;
}
.sideNav .body-content ul li a:hover img {
  filter: invert(1);
}

@media (max-width: 767px) {
  .backoffice-footer .footer-copyright {
    font-size: 1rem !important;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.back-office .btn-red {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  background: #9e0404;
  padding: 0 20px;
  margin-top: 5px;
  border-radius: 0;
}
.back-office .btn-red:hover {
  background-color: #bb0909;
}
@media screen and (max-width: 1399px) {
  .back-office .btn-red {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .back-office .btn-red {
    font-size: 16px;
  }
}

.button-groups .button-parent {
  background: linear-gradient(90deg, #0e63c3 0%, #fdfcfd 50%, #0e63c3 100%);
  padding: 5px;
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent {
    padding: 3px;
  }
}
.button-groups .button-parent .btn-transactions {
  color: #000;
  background: linear-gradient(90deg, #fff 0%, #fff 50%, #fff 100%);
  font-family: "TahomaBold";
  font-size: 24px;
  border-radius: 0;
  padding: 15px 10px;
  width: 100%;
  display: block;
}
.button-groups .button-parent .btn-transactions:hover {
  background: linear-gradient(90deg, #0c56a9 0%, #0e63c3 50%, #0c56a9 100%);
  color: #fff;
}
@media screen and (max-width: 1399px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 16px;
  }
}

/*===// end of components css === */
/*=== pages css start === */
.home-page {
  font-family: "Bebas Neue", cursive;
}
.home-page .login-form h1 {
  font-size: 3rem;
  color: #010101;
  background-color: #fff000;
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  font-style: italic;
  -webkit-clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
          clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  padding: 0 20px 0 10px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1399px) {
  .home-page .login-form h1 {
    font-size: 2.5;
  }
}
@media (max-width: 1199px) {
  .home-page .login-form h1 {
    font-size: 2;
  }
}
@media (max-width: 767px) {
  .home-page .login-form h1 {
    font-size: 1;
  }
}
.home-page .login-form h2 {
  font-size: 3.5rem;
  color: #fff;
  background-color: #000000;
  -webkit-text-stroke: 0.5px #00ccff;
  display: inline-block;
  font-style: italic;
  -webkit-clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
          clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
  padding: 0 20px 0 10px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1399px) {
  .home-page .login-form h2 {
    font-size: 2.5;
  }
}
@media (max-width: 1199px) {
  .home-page .login-form h2 {
    font-size: 2;
  }
}
@media (max-width: 767px) {
  .home-page .login-form h2 {
    font-size: 1;
  }
}
.home-page .login-form .login-form-video {
  margin: auto;
  max-width: 450px;
  width: 90%;
}
.home-page .login-form .col-form-label {
  color: #fff;
  font-style: italic;
  font-size: 1.75rem;
  padding: 0;
}
@media (min-width: 768px) {
  .home-page .login-form .col-form-label {
    font-size: 2rem;
  }
}
.home-page .login-form .form-control {
  border-radius: 0;
}
@media (min-width: 768px) {
  .home-page .login-form .form-control {
    min-width: 300px;
    font-size: 1rem;
  }
}
.home-page .login-form .btn-red {
  color: #fff;
  background: linear-gradient(#ff6969 50%, #960000 50%);
  border: none;
  font-size: 2rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .home-page .login-form .btn-red {
    min-width: 150px;
  }
}
.home-page .login-form .btn-blue {
  color: #fff;
  background: linear-gradient(#6993ff 50%, #002a96 50%);
  border: none;
  font-size: 2rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .home-page .login-form .btn-blue {
    min-width: 150px;
  }
}

.spnsor-n-profile .person-details-parent,
.spnsor-n-profile .sponsor-details-parent {
  background: linear-gradient(0deg, #1165c4 0%, #ffffff 50%, #1165c4 100%);
  padding: 4px;
  height: 100%;
  border-radius: 10px;
}
.spnsor-n-profile .person-details,
.spnsor-n-profile .sponsor-details {
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  background: #fff;
  height: 100%;
}
.spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin-bottom: 10px;
}
@media screen and (max-width: 1599px) {
  .spnsor-n-profile .person-details .text h2,
  .spnsor-n-profile .sponsor-details .text h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .text h2,
  .spnsor-n-profile .sponsor-details .text h2 {
    font-size: 20px;
  }
}
.spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
  font-family: "ArialNarrow";
  font-weight: 700;
  font-size: 26px;
  color: #000;
  line-height: 1.5;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .text .sp-name,
  .spnsor-n-profile .person-details .text .sp-username,
  .spnsor-n-profile .person-details .text .sp-email,
  .spnsor-n-profile .person-details .text .name,
  .spnsor-n-profile .person-details .text .username,
  .spnsor-n-profile .person-details .text .email,
  .spnsor-n-profile .sponsor-details .text .sp-name,
  .spnsor-n-profile .sponsor-details .text .sp-username,
  .spnsor-n-profile .sponsor-details .text .sp-email,
  .spnsor-n-profile .sponsor-details .text .name,
  .spnsor-n-profile .sponsor-details .text .username,
  .spnsor-n-profile .sponsor-details .text .email {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .spnsor-n-profile .person-details .text .sp-name,
  .spnsor-n-profile .person-details .text .sp-username,
  .spnsor-n-profile .person-details .text .sp-email,
  .spnsor-n-profile .person-details .text .name,
  .spnsor-n-profile .person-details .text .username,
  .spnsor-n-profile .person-details .text .email,
  .spnsor-n-profile .sponsor-details .text .sp-name,
  .spnsor-n-profile .sponsor-details .text .sp-username,
  .spnsor-n-profile .sponsor-details .text .sp-email,
  .spnsor-n-profile .sponsor-details .text .name,
  .spnsor-n-profile .sponsor-details .text .username,
  .spnsor-n-profile .sponsor-details .text .email {
    font-size: 16px;
  }
}
.spnsor-n-profile .person-details .avatar-box,
.spnsor-n-profile .sponsor-details .avatar-box {
  background: linear-gradient(0deg, #1165c4 0%, #ffffff 50%, #1165c4 100%);
  margin-right: 15px;
  padding: 2px;
}
.spnsor-n-profile .person-details .avatar-box .avatar,
.spnsor-n-profile .sponsor-details .avatar-box .avatar {
  width: 100%;
  max-width: 160px;
  border: none;
  background-color: #fff;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .avatar-box .avatar,
  .spnsor-n-profile .sponsor-details .avatar-box .avatar {
    max-width: 130px;
  }
}
@media screen and (max-width: 767px) {
  .spnsor-n-profile .person-details .avatar-box .avatar,
  .spnsor-n-profile .sponsor-details .avatar-box .avatar {
    max-width: 110px;
  }
}
.spnsor-n-profile .person-details .profile-level,
.spnsor-n-profile .sponsor-details .profile-level {
  font-family: "ArialNarrow";
  font-weight: 700;
  font-size: 26px;
  color: #000;
  line-height: 1.5;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .profile-level,
  .spnsor-n-profile .sponsor-details .profile-level {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .profile-level,
  .spnsor-n-profile .sponsor-details .profile-level {
    font-size: 16px;
  }
}
.spnsor-n-profile.personal-profile {
  padding: 45px 0 25px 0;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile.personal-profile {
    padding: 35px 0 25px 0;
  }
}
@media screen and (min-width: 1600px) {
  .spnsor-n-profile.personal-profile .person-details .avatar-box .avatar {
    max-width: 260px;
  }
}

.refferral-link {
  background: #00aeff;
}
.refferral-link p {
  font-family: "TahomaBold";
  font-size: 24px;
  color: #fff;
  padding-left: 15px;
}
@media screen and (max-width: 1399px) {
  .refferral-link p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .refferral-link p {
    font-size: 16px;
  }
}

.economy .Referral,
.economy .Balance,
.economy .reward,
.economy .reward-date {
  text-align: center;
  padding: 20px 10px;
  color: #000;
  border: 4px solid #0076a3;
  border-radius: 4px;
}
.economy .Referral h6,
.economy .Balance h6,
.economy .reward h6,
.economy .reward-date h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 65px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral h6,
  .economy .Balance h6,
  .economy .reward h6,
  .economy .reward-date h6 {
    font-size: 45px;
  }
}
.economy .Referral p,
.economy .Balance p,
.economy .reward p,
.economy .reward-date p {
  font-family: "ArialNarrow";
  font-weight: 700;
  font-size: 26px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral p,
  .economy .Balance p,
  .economy .reward p,
  .economy .reward-date p {
    font-size: 16px;
  }
}

.backoffice-video-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .backoffice-video-section h2 {
    font-size: 22px;
  }
}

.payment {
  font-family: "GOTHICB";
}
@media (max-width: 1399px) {
  .payment .heading-3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .payment .heading-3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .payment h3,
  .payment .heading-3 {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .payment .preline-lg {
    white-space: pre-line;
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .payment .payment-proof label {
    font-size: 1.25rem;
  }
}
.payment .payment-proof .btn {
  color: #fff;
  border: none;
  padding-inline: 1.5rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .payment .payment-proof .btn {
    font-size: 2rem;
    min-width: 150px;
  }
}
.payment .payment-proof .btn.btn-red {
  background: linear-gradient(#fa7171, #910909);
}
.payment .payment-proof .btn.btn-red:hover {
  background: linear-gradient(#910909, #fa7171);
}
.payment .payment-proof .btn.btn-blue {
  background: linear-gradient(#70b3f8, #0c4f94);
}
.payment .payment-proof .btn.btn-blue:hover {
  background: linear-gradient(#0c4f94, #70b3f8);
}
.payment .form-select,
.payment .form-control {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0;
}

.pending-payment {
  font-family: "GOTHICB";
}
.pending-payment .heading-bg {
  background-color: #000;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  padding: 10px;
  max-width: 90%;
}
@media (min-width: 768px) {
  .pending-payment .heading-bg {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .pending-payment .heading-bg {
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .pending-payment .heading-bg {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .pending-payment .table-heading {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .pending-payment .table-heading {
    font-size: 0.875rem;
  }
}
.pending-payment .table.table-bordered > :not(caption) > * {
  border-width: 1px;
}
.pending-payment .table tbody,
.pending-payment .table td,
.pending-payment .table tfoot,
.pending-payment .table th,
.pending-payment .table thead,
.pending-payment .table tr {
  border-color: #000;
}
.pending-payment .table th,
.pending-payment .table td {
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  .pending-payment .table th,
  .pending-payment .table td {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .pending-payment .table th,
  .pending-payment .table td {
    font-size: 0.75rem;
  }
}
.pending-payment .table .btn {
  color: #fff;
  border: none;
  text-transform: uppercase;
  min-width: 100px;
}
@media (max-width: 768px) {
  .pending-payment .table .btn {
    font-size: 0.75rem;
  }
}
.pending-payment .table .btn.btn-green {
  background: linear-gradient(#60e181, #038424);
}
.pending-payment .table .btn.btn-green:hover {
  background: linear-gradient(#038424, #60e181);
}
.pending-payment .table .btn.btn-red {
  background: linear-gradient(#fa7171, #910909);
}
.pending-payment .table .btn.btn-red:hover {
  background: linear-gradient(#910909, #fa7171);
}
.pending-payment .table .btn.btn-cyan {
  background: linear-gradient(#50d3eb, #03869d);
}
.pending-payment .table .btn.btn-cyan:hover {
  background: linear-gradient(#03869d, #50d3eb);
}

/*===// end of pages css === */
/*=== ? css start === */
/*===// end of ? css === *//*# sourceMappingURL=style.css.map */