.payment {
    font-family: 'GOTHICB';

    @media (max-width: 1399px) {
        .heading-3 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 991px) {
        .heading-3 {
            font-size: 1.25rem;
        }
    }

    @media (max-width: 767px) {

        h3,
        .heading-3 {
            font-size: 1rem;
        }
    }

    .preline-lg {
        @media (min-width: 992px) {
            white-space: pre-line;
            font-size: 1.25rem;
        }
    }

    .payment-proof {
        label {
            @media (min-width: 992px) {
                font-size: 1.25rem;
            }
        }

        .btn {
            color: #fff;
            border: none;
            padding-inline: 1.5rem;
            text-transform: uppercase;

            @media (min-width: 768px) {
                font-size: 2rem;
                min-width: 150px;
            }

            &.btn-red {
                background: linear-gradient(#fa7171, #910909);

                &:hover {
                    background: linear-gradient(#910909, #fa7171);
                }

            }

            &.btn-blue {
                background: linear-gradient(#70b3f8, #0c4f94);

                &:hover {
                    background: linear-gradient(#0c4f94, #70b3f8);
                }
            }
        }
    }

    .form-select,
    .form-control {
        box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        border-radius: 0;

    }



}